@model IList<SeanseModel>
<div class="container-fluid m-3">
    <h2>Lista seansów</h2>
    <table class="table">
        @foreach (var seanse in @Model)
        {
            <tr>
                <td>
                    @seanse.Date.Year - @seanse.Date.Month - @seanse.Date.Day
                </td>
                <td>
                    od @seanse.SeanseStart.Hours : @seanse.SeanseStart.Minutes do @seanse.SeanseEnd.Hours : @seanse.SeanseEnd.Minutes
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Seanse" asp-action="EditForm" asp-route-id="@seanse.Id">Edytuj</a>
                    <a class="btn btn-primary" asp-controller="Seanse" asp-action="Delete" asp-route-id="@seanse.Id">Usuń</a>
                </td>
            </tr>
        }
    </table>
</div>
